* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ecf0f3;
}

.wrapper {
  width: 550px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.wrapper header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: #0e44cc;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

.btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 5px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  user-select: none;
  border-radius: 50%;
  background-color: #1ba1e4;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #2980b9;
}
.current-date {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 20px 0;
}

.calendar {
  padding: 20px;
}

.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.calendar .days .btn {
  width: 100%;
  color: #333;
  line-height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.calendar .days .inactive {
  color: #bbb;
}
.calendar .days .today {
  border: solid #0e44cc 2px;
}
.calendar .weeks {
  display: flex;
  justify-content: space-around;
}
.calendar .weeks span {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: default;
}
.calendar .weeks span:last-child {
  font-weight: 700;
  cursor: default;
  color: red;
}
